.slider-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider {
    /* display: none; */
    visibility: hidden;
}

img {
    width: 150px;
    height: 200px;
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
